<div class="login-box">
 
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Usuario</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required="">
      <label>Senha</label>
    </div>
    <a href="#">
           ENTRAR
       <span></span>
    </a>
  </form>
</div>

<!-- <figure>
  <img src="assets/img/logo-com-fundo-preto.png" alt="Minha Figura" >
  <figcaption>Informações da Figura</figcaption>
</figure> -->


<div class="logo-my-stilus"></div>